header {
    .logo_principal {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        order: unset;
        scroll-padding-top: 50px;
        padding-top: 50px;
        margin-left: 30px;
    }

    h5 {
        color: #c96b50;
        font-size: large;
        font-weight: normal
    }

    #intro {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        order: unset;
        scroll-padding-top: 50px;
        padding-top: 50px;
        margin-left: 30px;
    }

}